<%= simple_form_for @message do |f| %>


  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <%= f.input :from %>
        <%= f.input :of %>
        <%= f.input :phone %>
        <%= f.input :cell_phone %>
        <%= f.input :message %>
      </div>
    
      <div class="form-inline">  
        <strong>Action:</strong>
        <%= f.input :telephoned %>
        <%= f.input :returned_your_call %>
        <%= f.input :please_call %>
        <%= f.input :will_call_again %>
        <%= f.input :came_to_see_you %>
        <%= f.input :wants_to_see_you %>
        <%= f.input :other %>
        <%= f.input :other_text %>
      </div>
      <br>
      <div class="form-inline">
        <%= f.input :signed %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
  
<% end %>